# Ignore all files
*.*

# Except
!*.json
!*.js
!*.zip
!*.7z
!*.csv
!.gitignore
!README.md

# Images
!LayoutCommand.png
!LayoutSlot.png
!LayoutStatus.png
!Com_0.png
!Com_1.png
!Com_2.png
!Com_3.png
!achievement-1.png
!achievement-10.png
!achievement-11.png
!achievement-12.png
!achievement-13.png
!achievement-2.png
!achievement-3.png
!achievement-4.png
!achievement-5.png
!achievement-6.png
!achievement-7.png
!achievement-8.png
!achievement-9.png
!h-status-1.png
!h-status-2.png
!h-status-3.png
!h-status-4.png
!h-status-5.png
!h-status-6.png
!h-status-7a.png
!h-status-7b.png
!h-status-7c.png
!h-status-7d.png
!h-status-8a.png
!h-status-8b.png
!h-status-8c.png
!h-status-8d.png
!LayoutStatus.png
![F]ありがとう.png
![F]これが最後だ.png
![F]オーダー解除.png
![F]スキル攻撃.png
![F]セクハラ1-A.png
![F]セクハラ1-B.png
![F]セクハラ2-A.png
![F]セクハラ2-B.png
![F]セクハラ2-C.png
![F]セクハラ3-A.png
![F]セクハラ3-B.png
![F]セクハラ4-A.png
![F]セクハラ4-B.png
![F]セクハラ6-A.png
![F]セクハラ6-B.png
![F]セクハラ攻撃.png
![F]セックス1-A.png
![F]セックス1-B.png
![F]セックス1-C.png
![F]セックス2-A.png
![F]セックス2-B.png
![F]セックス2-C.png
![F]セックス3-A.png
![F]セックス3-B.png
![F]セックス3-C.png
![F]セックス4-A.png
![F]セックス4-B.png
![F]セックス4-C.png
![F]セックス5-A.png
![F]セックス5-B.png
![F]セックス5-C.png
![F]セックス6-A.png
![F]セックス6-B.png
![F]セックス6-C.png
![F]セックス攻撃.png
![F]二人の為にッ！.png
![F]出血.png
![F]勝つんだ！.png
![F]媚薬爆弾.png
![F]戦え！戦えッ！.png
![F]暗闇.png
![F]毒.png
![F]淫欲(大).png
![F]淫欲(小).png
![F]燃焼.png
![F]特殊攻撃.png
![F]痛い！痛いッ！.png
![F]発情.png
![F]精液(多).png
![F]精液(少).png
![F]諦めるなッ！.png
![F]負けられない！.png
![F]負けるかあッ！.png
![F]通常攻撃.png
![F]魔法攻撃.png
!フラッシュバック.png
!category_アニメ変更.png
!category_イベント回想.png
!category_オプション.png
!category_服破れ.png
!category_服装.png
!category_状態.png
!category_精液.png
!category_表情.png
!content_A：初回.png
!content_B2.png
!content_B：2回目～.png
!content_B：２回目～.png
!content_C：淫乱.png
!content_D：淫堕.png
!content_おしゃぶり.png
!content_なし.png
!content_ボールギャグ.png
!content_下着.png
!content_人間↔亜人.png
!content_全壊.png
!content_全裸.png
!content_初回.png
!content_初回以降.png
!content_剣.png
!content_半壊.png
!content_半透明／消去.png
!content_多量.png
!content_少量.png
!content_帽子.png
!content_平常.png
!content_強度(弱).png
!content_強度(強).png
!content_損壊.png
!content_服装A.png
!content_服装B.png
!content_服装C.png
!content_淫乱.png
!content_淫堕.png
!content_淫欲(大).png
!content_淫欲(小).png
!content_無し.png
!content_男(亜人).png
!content_男(人間).png
!content_目隠し.png
!content_着衣-1.png
!content_着衣.png
!content_絶頂.png
!content_絶頂→待機.png
!content_胸はだけ.png
!content_裸.png
!content_!通常.png
!戻る.png
!終了.png
!Equip.png
!Equipment.png
!Formation.png
!Game End.png
!Item.png
!Load.png
!Music Book.png
!Options.png
!Picture Gallery.png
!Save.png
!Skill.png
!Status.png